@import url('keyframes.css');

body{
    background-color: #14160f;
}

header figcaption{
   text-align: center;
}

header figcaption figure img{
    margin: 20px 0px 20px 0px;
    width: 50%; 
    max-width: 500px;
    animation: balancar2 5s infinite;

}

div{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    width: auto;
}
div p{
    background-color: #0000004d;
    color: #f1f1f1a6;
    padding: 3px 7px;
    border-radius: 30px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 15px;
    text-align: center;
}

section{
    padding: 0px;
}

/* Article - Intro_D */

article{
    text-align: center;
}


section#secao1 {
    padding-bottom: 0;
    background-color: #14160f;
    position: relative;
}

#intro_D{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

#intro_D ul li{
   text-align: left;
}

/* Viagens */

#viagens{
    width: 100%;
    padding-inline-start: 0px;
    margin-bottom: 80px;

}

#viagens li{
    display: inline-block;
    border-radius: 8px;
    margin: 10px 0px 10px 10px;
}

.opcao{
    background-color: #ffffff;
    color: #1c1f17;
    box-shadow: 0px 1px 2px #c0bdbd;
    width: 20%;
    padding: 10px 10px 7px 10px;
    transition: 0.3s;
}

.opcao:hover{
    transition: 0.3s;
    transform: scaleX(1.1) scaleY(1.1);
}

.imgOp{
    width: 100%;
    border-radius: 8px;
    box-shadow: 1px 1px 3px #00000096;
    margin-bottom: 5px;
}


/* Article - Saidas Regulares */
#saidasRegulares{
    width: 90%;
    list-style-type: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline-flex;
}

#saidasRegulares .opcao{
    width: 30%;
    
}


#saidasRegulares .infosPrincipais{
    width: 50%;
}

#saidasRegulares .infos_principais img{
    width: 30%;
}

#saidasRegulares .infos2 {
    width: 10%;
    margin-left: 30px !important;
    padding-left: 20px !important;

    border-left: 1px solid #14160f93;
}

#saidasRegulares .infos2 li{
    margin-bottom: 40px;
    font-weight: 500;
}


#saidasRegulares .opcao{
    width: auto;
    margin-right: 20px;
    display: inline-flex; 
    background-color: #ffffff;
    color: #1c1f17;
    box-shadow: 0px 1px 2px #c0bdbd;
}

#saidasRegulares li{
    border-radius: 8px;
    margin: 10px 0px 10px 5px; 
    margin-left: 0px !important;
}

#saidasRegulares li .valores, #saidasRegulares li .infos{
    margin-left: 0px !important;
}

#saidasRegulares ul{
    list-style-type: none;
    padding-inline-start: 10px !important;
}

#saidasRegulares .li{
   
    transition: 0.3s;
}



/* Seta de Volta */
#setaVolta{
    text-align: right;
    width: 100%;
    margin-top: 50px;
    background-color: #00000000;
}

#setaVolta span{
    color: #1d1d1d !important;
    background-color: #84c44f;
    padding: 6px;
    border-radius: 100%;
    font-weight: 600;
}

#setaVolta a{
    background-color: #00000000;
    
}

/* Footer (Contato) */

/* Outros estilos globais */
.valores li{
    padding: 0px 10px 0px 0px ;
}

.valores, .infos{
    padding-inline-start: 0px;
}

.infos li{
    font-size: 16px;
    display: block !important;
    margin-bottom: 10px;
}

.valores strong{
    font-size: 22px;
    color: #121a0c;
}

/* Responsividade */
@media (max-width: 935px) {
    .opcao{
        width: 40%;
    }

    #saidasRegulares{
        display: block;
    }
    
    #saidasRegulares .opcao{
        width: 40%;
        margin-right: 20px;
    }

    figcaption{
        text-align: center;
    }

    #intro_D figcaption figure{
        width: 70%;
    }

    #intro_D figcaption figure img{
        width: 100%;
    }

    
}

@media (max-width: 625px) {
    #intro_D{
        display: block; 
    }

    #viagens{
        width: 100%;
    }

    #viagens li{
        margin: auto;
    }

    #intro_D .opcao{
        width: 40%;
        margin: 10px;
    }


    #intro_D figcaption figure{
        font-size: 30px;
        text-align: center;
        margin: 0px;
    }

    #saidasRegulares{
        display: block;
    }
    
    #saidasRegulares .opcao{
        width: 60%;
        margin-right: 20px;
    }

    
}

@media (max-width: 400px) {
    #intro_D{
        display: block; 
    }

    #viagens{
        width: 100%;
    }

    #viagens li{
        margin: auto;
    }

    #intro_D .opcao{
        width: 80%;
        margin-bottom: 20px;
    }

    #saidasRegulares .opcao{
        width: 100%;
        margin-right: 20px;
    }

    figcaption{
        text-align: center;
    }

    #intro_D figcaption figure{
        font-size: 30px;
        text-align: center;
        margin: 0px;
    }

    #saidasRegulares{
        width: 90%;
        margin-bottom: 30px;
    }

    nav{
        text-align: center;
    }

    nav ul{
        margin: 0px;
    }

}

