@import url('keyframes.css');

body {
    background-color: #14160f;
}


header figcaption{
    text-align: center;
 }
 
 header figcaption figure img{
     margin: 20px 0px 20px 0px;
     width: 50%; 
     max-width: 500px;
     animation: balancar2 5s infinite;
 
 }

.intro_e{
    background-color: #14160f;
    text-align: center;
    margin: auto;
    width: 60%;
    color: #bed143;
}

.intro_e h1{
font-size: 40px;
}

.intro_e p{
font-size: 18px;
}

.intro_e #icones span{
    font-size: 35px;
    vertical-align: middle;
    padding-left: 10px;
}

.intro_e #icones{
    font-size: 20px;
}

#empresas main{
    background-color: #14160f;      
    padding-top: 100px;
    padding-bottom: 100px !important;

}
