@import url('keyframes.css');

#intro img {
    animation: balancar 5s infinite;
}

#intro {
    padding: 30px;
}
#intro strong {
    color: #73ca1c;
}

#intro h1 {
    color: #73ca1cc2;
}

#intro h1 span {
    color: #73ca1c;
    font-weight: 700;
}

/* Contêiner das imagens e rolagem horizontal */
#imagensSobre {
    padding: 30px 0px;
    display: inline-block !important;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    max-width: 100%;
    background-color: #1c1f17;
    background-image: url("../img/fundo.svg");
    box-shadow: 2px 3px 10px #b5b6b5;
    margin: 20px 0px;
}

#viagens{
    display: inline-flex;
    animation: rolarHorizontalmente 20s linear infinite;
    padding: 0;
    margin: 0;
    list-style: none;
    animation-play-state: running; /* Inicia a animação */
}

#viagens:hover {
    animation-play-state: paused; /* Pausa a animação ao passar o mouse */
}

#viagens li figure{
    display: inline-block;
    border-radius: 8px;
    margin: 10px 5px;
    text-align: center;
    vertical-align: top;
}

.opcao figure {
    background-color: #ffffff;
    color: #1c1f17;
    box-shadow: 0px 1px 2px #c0bdbd;
    width: 200px;
    padding: 10px;
    transition: 0.3s;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinha o conteúdo à esquerda */
}

.opcao figure:hover {
    transform: scale(1.1);
}

.imgOp {
    width: 100%;
    border-radius: 8px;
    box-shadow: 1px 1px 3px #00000096;
    margin-bottom: 10px;
}

.opcao figure figcaption {
    display: block;
    margin-top: 5px;
    font-size: 14px;
    color: #1c1f17;
    word-wrap: break-word;
    white-space: normal;
    text-align: left;

}

/* Responsividade */
@media (max-width: 935px) {
    
    #imagensSobre h2 {
        width: 25%;
        margin: 0;
    }
    #viagens {
        width: auto;
        margin: 0;
    }
    .opcao figure{
        width: 200px;
        margin: 0 0 20px 20px !important;
    }
}

@media (max-width: 600px) {
    #imagensSobre h2 {
        width: 25%;
        margin: 0;
    }
    #viagens {
        width: auto;
        margin: 0;
    }
    .opcao {
        width: 200px;
        margin: 0 20px 0px 20px !important;
    }

#intro img {
    width: 200px;
}
}



/* Botão "BORA!" */

#inicial aside{
    margin-bottom: 50px;
}
#inicial aside h2 a {
    text-decoration: none;
    background-color: #1c1f17;
    color: #fcffeb;
    padding: 20px;
    border-radius: 5px;
    transition: 0.3s;
}

#inicial aside h2 a:hover {
    background-color: #14160f;
}

#inicial aside h2:hover {
    transition: 0.3s;
    transform: scaleX(1.1) scaleY(1.1);
}
