@keyframes balancar2 {
    0% { transform: translate(0, 0) rotate(0deg); }
    25% { transform: translate(10px, -10px) rotate(5deg); }
    50% { transform: translate(-10px, 10px) rotate(-5deg); }
    75% { transform: translate(10px, -10px) rotate(5deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
}

@keyframes balancar {
    0% { transform: translate(0, 0) rotate(0deg); }
    25% { transform: translate(-10px, 10px) rotate(-5deg); }
    50% { transform: translate(10px, -10px) rotate(5deg); }
    75% { transform: translate(-10px, 10px) rotate(-5deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
}

@keyframes rolarHorizontalmente {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}