@import url(index.css);
@import url(empresas.css);
@import url(destinos.css);

/* Elementos principais */

.center{
    text-align: center;
}

body {
    margin: 0 ;
    padding: 0;
    position: relative;
}


header {
    padding: 20px;

    background-color: #1e231e;
}


main{
    padding: 20px;
    padding-bottom: 150px ;

    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer{ 
    padding-bottom: 20px;
    position: absolute;
    width: 100%;

    background-color: #1e231e;
    color: white;
    text-align: center;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

article{
    margin-bottom: 40px;
}


article a {
    text-decoration: none;
}

article a:hover{
    text-decoration: underline;
}